/* Write your code here. */

.image {
  height: 40px;
  width: 50px;
  margin-right: 15px;
  border-radius: 5px;
  opacity: 10;
}
.thumbnail-button {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.image-container {
  list-style-type: none;
}

.unselected-image {
  opacity: 0.5;
}
